@import "src/assets/style/variables";
.buttons-modal{
   position: fixed;
  left: 0;
  top: 0;
  width: 30%;
  z-index: 100;
  transition: .3s;

}
.rightBottom{
  position: fixed;
  right: 0;
  bottom: 0;
  width: 30%;
  z-index: 100;
  transition: .3s;
}
.rightTop{
  position: fixed;
  right: 0;
  top: 0;
  width: 30%;
  z-index: 100;
  transition: .3s;
}
.centerTop{
  position: fixed;
  right: 30%;
  top: 0;
  width: 30%;
  z-index: 100;
  transition: .3s;
}
.centerBottom{
  position: fixed;
  right: 30%;
  bottom: 0;
  width: 30%;
  z-index: 100;
  transition: .3s;
}
.leftBottom{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 30%;
  z-index: 100;
  transition: .3s;
}
.leftTop{
  position: fixed;
  left: 0;
  top: 0;
  width: 30%;
  z-index: 100;
  transition: .3s;
}

.button-info{
  position: relative;
  width: 100%;
  height: 100%;
  transition: .3s;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  i {
    background: white;
    color: gray;
    font-size: 10px;
    padding: 7px;
    border-radius: 50%;
    transition: $transition;
    cursor: pointer;

    &:hover {
      background: $textColor;

    }
  }



}