$sidebarBg: #9368e9;
$textColor: #c4bdbd;
$textHoverColor:#5e5e5e;
$aqua:#63d8f1;

$textHoverBlue:#1dc7ea;
$white1:rgba(255,255,255,.23);
$white:rgba(255,255,255,.96);
$containerBg:rgba(0,0,0,.05);
$transition: 0.3s;


$fontSizeSidebarIcons:20px;
$fontSizeText:20px