@import "src/assets/style/variables";

.icons-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 19%;
  min-height: 150px;
  margin: 0 0 1.2%;
  border: 1px solid $textColor;

  p {
    color: $textColor;

  }

  i {
    color: $textColor;

  }
}

.icons-item > :not(:last-child) {
  margin: 0 0 5px;

}