@import "src/assets/style/variables";

.edit-users-section {
  display: flex;
  gap: 2%;
  padding: 20px;

  @media screen  and (max-width: 1030px){
     flex-direction: column;
  }
}

.edit-profile {
  width: 69%;
  min-height: 500px;

  @media screen  and (max-width: 1030px){
    width: 100%;
  }
}

.edit-users-form > :not(:last-child) {
  margin: 0 0 20px;
}

.profile-title {

  p {
    font-weight: 500;
    font-size: $fontSizeText;
  }
}

.edit-profile > :not(:last-child) {
  margin: 0 0 20px;
}

.edit-users-form {
  label {
    p {
      margin: 10px 0 10px;
      color: $textColor;

    }
  }
}

.edit-input-box-company {
  display: flex;
  gap: 1.2%;

  .company-tools {
    width: 33%;

    input {
      width: 100%;
    }
    @media screen  and (max-width: 1030px){
      width: 100%;
    }

  }
  @media screen  and (max-width: 1030px){
    flex-direction: column;
  }

}

.edit-box-firstName-lastName {
  display: flex;
  gap: 2%;

  @media screen  and (max-width: 1030px){
    flex-direction: column;
  }
}

.firstname-tools {
  width: 49%;

  input {
    width: 100%;
  }
  @media screen  and (max-width: 1030px){
    width: 100%;
  }
}

.address-tools {
  width: 100%;

  input {
    width: 100%;
  }
}

.edit-city-country {
  display: flex;
  gap: 1.2%;

  .city-country-tools {
    width: 33%;

    input {
      width: 100%;
    }
    @media screen  and (max-width: 1030px){
      width: 100%;
    }
  }
  @media screen  and (max-width: 1030px){
    flex-direction: column;
  }
}

.about-tools {
  width: 100%;

  p {
    margin: 0 0 5px;
    color: $textColor;

  }

  textarea {
    width: 100%;
    max-width: 100%;
    border: 1px solid $textColor;


  }
}

.update-users {
  display: flex;
  justify-content: flex-end;

  @media screen  and (max-width: 1030px){
   padding: 0 0 10px;
  }
}

.users-information {
  width: 29%;
  border: 1px solid red;
  border-radius: 10px;
  min-height: 400px;

  @media screen  and (max-width: 1030px){
    width: 100%;
  }


}

.card-user {
  width: 100%;
  height: 100%;
  position: relative;
}

.card-image {
  height: 200px;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.card-author {
  position: absolute;
  top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    border-radius: 50%;
  }

  h3 {
    color: $textHoverBlue;
  }
  p{
    text-align: center;
    max-width: 200px;

    @media screen  and (max-width: 1030px){
      max-width: 500px;
    }

  }
}
.card-author > :not(:last-child){
   margin: 0 0 20px;
}

.author-contact {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid $textColor;

  span {
    margin: 10px;
    color: $textColor;
    cursor: pointer;
    transition: .3s;

    &:hover {
      color: $textHoverColor;

    }
  }

}