@import "src/assets/style/variables";
.users-item{
   width: 19%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 150px;
  margin: 0  0 1.2%;
  border: 1px solid $textColor;
}