@import "src/assets/style/variables";
.typography-line{
   display: flex;
   align-items: center;

}
.line-title{
   min-width: 200px;
   color: $textColor;
   p{
       margin: 0 0 20px;
   }
}

.line-description{
   min-width: 400px;
   p{
      margin: 0 0 20px;

   }
}