@import "src/assets/style/variables";
.notification-box{
  background: white;
  padding: 20px;
  border-radius: 10px;

}
.notification-header{
  p{
    font-size: $fontSizeText;

  }
  span{
    color: $textColor;
  }
}
.notification-header > :not(:last-child){
  margin: 0 0 5px;
}
.notification-body{
   display: flex;
  gap: 2%;

  p{
     color: $textColor;
  }
}
.notification-box > :not(:last-child){
  margin: 0 0 20px;
}
.notification-style{
   width: 49%;
}
.notification-style > :not(:last-child){
   margin: 0 0 20px;
}
.notification-states{
  width: 49%;
}
.notification-states > :not(:last-child){
  margin: 0 0 20px;
}
.places-buttons{
   width: 70%;
  margin: 0 auto;
}
.card-title{
   p{
      font-size: $fontSizeText;
   }
  span{
     color: $textColor;
    font-size: 13px;
  }
}
.buttons-box{
  margin-top: 10px;
   display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.notification-modal{
   display: flex;
  flex-direction: column;
  align-items: center;
  p{
     font-size: $fontSizeText;
    font-weight: bold;

  }
}
.notification-modal > :not(:last-child){
   margin: 0 0 10px;
}