@import "src/assets/style/variables";

.sidebar-section {
  position: fixed;
  left: 0;
  top: 0;
  width: 280px;
  height: 100%;
  z-index: 10;
  transition: .3s;

  &.active{
    left: -280px;
    overflow-x: hidden;

  }
}
.sidebar-image,{
   width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sidebar-bg{
  width: 100%;
  height: 100%;
  background: $sidebarBg;
 opacity: .7;
}

.brand-name {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  border-bottom: 1px solid rgba(255, 255, 255, .2);

  a {
    font-size: 24px;
    font-weight: 700;
    color: $white;
    white-space: nowrap;

  }
}
