@import "src/assets/style/variables";

.users-box{
   padding: 20px;
  background: white;
  border-radius: 10px;
}
.users-header > :not(:last-child){
  margin: 0 0 5px;
}
.users-header{

  p{
    font-size: $fontSizeText;
  }
  span{
    color: $textColor;
  }
}
.users-list{
   display: flex;
  flex-wrap: wrap;
   gap: 1.2%;
  margin-top: 20px;
}
